  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" #inputServerName>
      <label>Server Content</label>
      <input type="text" class="form-control" #inputNewServerContent>
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(inputServerName)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(inputServerName)">Add Server Blueprint</button>
    </div>
  </div>
