  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
