<div class="container">
  <app-cockpit (createdServer)="onAddServerAdded($event)" (createdBlueprint)="onAddBlueprintAdded($event)"></app-cockpit>
  <hr>
  <app-server-element *ngFor="let serverElement of serverElements" [element]="serverElement">
    <p>
      <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
      <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
    </p>
  </app-server-element>
</div>
